@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es" ng-app="loginApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Simple Cotizador</title>
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
    <link href="~/css/base-styles.min.css" rel="stylesheet" />
    <link href="~/css/signin.css" rel="stylesheet" />
    <script src="~/js/base-scripts.min.js"></script>
</head>

<body class="text-center" ng-controller="loginController">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal" style="margin-top:0px;margin-bottom:16px">Por favor ingrese</h1>
        <label for="usuario" class="sr-only">Nombre de usuario</label>
        <input type="text" ng-model="vm.usuario" ng-disabled="vm.enProgreso" ng-change="vm.textChange()" id="usuario" class="form-control"
               placeholder="Nombre de usuario" required="" autofocus="" oninvalid="this.setCustomValidity('Por favor, ingrese su nombre de usuario')"
               oninput="this.setCustomValidity('')">
        <label for="contrasenia" class="sr-only">Contrase&ntilde;a</label>
        <input type="password" ng-model="vm.contrasenia" ng-disabled="vm.enProgreso" ng-change="vm.textChange()" id="contrasenia" class="form-control"
               placeholder="Contrase&ntilde;a" required="" oninvalid="this.setCustomValidity('Por favor, ingrese su contraseña')"
               oninput="this.setCustomValidity('')">
        <div class="checkbox mb-3" style="margin-top:0px;margin-bottom:16px">
            <label style="margin-bottom:8px">
                <input type="checkbox" value="recordarme"> Recordarme
            </label>
        </div>
        <img src="~/images/ajax-loader.gif" ng-show="vm.enProgreso" style="margin-bottom:16px" />
        <div ng-show="vm.error" class="alert alert-danger">
            {{vm.mensajeError}}
        </div>
        <button ng-click="vm.login()" class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
        <p class="mt-5 mb-3 text-muted" style="margin-top:48px;margin-bottom:16px">© 2017-2018</p>
    </form>
    <script src="~/js/login.js"></script>
</body>
</html>
