<!DOCTYPE html>
<html lang="es" ng-app="indexApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/Home/Index">
    <title>SimpleCotizador</title>
    <script src="~/js/base-scripts.min.js"></script>
    <link href="~/css/base-styles.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/angular-extensions.min.js"></script>
    <link href="~/lib/angularjs-datepicker/angular-datepicker.css" rel="stylesheet" />
</head>
<body>
    <div ng-controller="menuController" class="container navbar navbar-inverse navbar-fixed-top" style="width:100%">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="BusquedaCotizaciones">
                        <span class="glyphicon glyphicon-home"></span> B&uacute;squeda de cotizaciones
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="vm.salir()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text"><span class="glyphicon glyphicon-user"></span> @ViewBag.Usuario</p></li>
            </ul>
        </div>
    </div>
    <ng-view class="container body-content col-xs-10 col-xs-offset-1" style="margin-top:100px"></ng-view>
    <script src="~/lib/angularjs-datepicker/angular-datepicker.js"></script>
    <script src="~/js/menu-view-model.js"></script>
    <script src="~/js/busqueda-cotizaciones-view-model.js"></script>
    <script src="~/js/configuracion-cotizacion-view-model.js"></script>
    <script src="~/js/confirmacion-cotizacion-view-model.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>