<h2 class="text-center" style="padding-bottom:50px">Configurar Cotizaci&oacute;n</h2>
<form class="container">
    <div class="form-inline row form-row-s">
        <label for="nombreCliente" class="col-xs-6" style="text-align:end">Cliente</label>
        <input type="text" id="nombreCliente" ng-model="vm.nombreCliente" class="form-control input-sm col-xs-6 form-element" autocomplete="off" />
    </div>
    <div class="form-inline row form-row-s">
        <label for="tipoSeguro" class="col-xs-6" style="text-align:end">Tipo Seguro</label>
        <input type="text" id="tipoSeguro" ng-model="vm.tipoSeguro" class="form-control input-sm col-xs-6 form-element" autocomplete="off" />
    </div>
    <div class="form-inline row form-row-m">
        <label for="fechaVencimiento" class="col-xs-6" style="text-align:end">Fecha Vencimiento</label>
        <input type="text" id="fechaVencimiento" ng-model="vm.fechaVencimiento | date : 'dd/MM/yyyy'" readonly class="form-control input-sm col-xs-6 form-element" autocomplete="off" />
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-12">
            <div class="text-center">
                <a href="ConfirmacionCotizacion" ng-click="vm.navegarAConfirmacionCotizacion()" class="btn btn-primary form-control" style="width:100px">Siguiente</a>
            </div>
        </div>
    </div>
</form>