<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SimpleCotizador</title>
    <script src="~/js/base-scripts.js"></script>
    <link href="~/css/base-styles.css" rel="stylesheet" />
</head>
<body>
    <div ng-app="menuApp" ng-controller="menuController" class="container navbar navbar-inverse navbar-fixed-top" style="width:100%">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><p class="navbar-text">@ViewBag.Usuario</p></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="vm.salir()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Salir</a></li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - SimpleCotizador</p>
        </footer>
    </div>
    <script src="~/js/layout.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
